# تنظیمات محیط — هرگز در گیت نگه‌داری نشود
.env
.env.production

# وابستگی‌ها — روی سرور نصب می‌شوند
node_modules/
vendor/
provest-deploy/
# فایل‌های سیستمی macOS
.DS_Store

# لاگ‌های داکر
*.log
make-package.sh
provest-deploy.zip
fix-docker-dns.sh